<nav class="navbar">
    <ul>
        <li><a href="/monday" class="monday">Понедельник</a></li>
        <li><a href="/tuesday" class="tuesday">Вторник</a></li>
        <li><a href="/wednesday" class="wednesday">Среда</a></li>
        <li><a href="/thursday" class="thursday">Четверг</a></li>
        <li><a href="/friday" class="friday">Пятница</a></li>
        <li><a href="/back" class="back">Back</a></li>
    </ul>
</nav>