<h1>Form page</h1>

<form action="/form" method="post">
    <label><input type="text" name="name" placeholder="name"></label>
    <label><input type="text" name="one" placeholder="one"></label>
    <label><input type="text" name="two" placeholder="two"></label>
    <label><input type="text" name="three" placeholder="three"></label>
    <label><input type="text" name="four" placeholder="four"></label>
    <label><input type="text" name="five" placeholder="five"></label>
    <label><input type="text" name="six" placeholder="six"></label>
    <label><input type="text" name="seven" placeholder="seven"></label>
    <label><input type="text" name="eight" placeholder="eight"></label>

    <button type="submit">Submit</button>
</form>