@media (max-width: 1200px) {
  main header {
    position: relative;
  }
  main header nav {
    padding: 20px 0 0 0;
    position: relative;
  }
  main header nav ul {
    display: block;
    position: absolute;
    background-color: #e2e2e2;
    margin: 0;
    margin-right: -20px;
    padding: 10px;
    top: -500px;
    right: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  main header nav ul li {
    display: block;
  }
  main header nav label {
    display: inline-block;
  }
  main header nav input.toggleMenu:checked + label.toggleMenu {
    color: black;
    border-bottom: 0.5px solid black;
  }
  main header nav input.toggleMenu:checked ~ ul {
    display: block;
  }
  main header nav input.toggleMenu:checked ~ ul li {
    display: block;
  }
}

@media (max-width: 1399.5px) {
  .third-block .img-third {
    display: none;
  }
  .right-pad-0 {
    padding-right: 9x;
  }
}

@media (max-width: 1200px) {
  main header .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 10%;
    margin-left: 90%;
  }
  main header .burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  main header .burger::before, main header .burger::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  main header .burger::before {
    top: 0;
  }
  main header .burger::after {
    bottom: 0;
  }
  main header nav {
    width: 100%;
  }
  .seven-block .video {
    height: 600px;
    padding: 50px 0;
  }
  main header .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  main header .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  main header .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }
  main header .burger-help.active ul {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 991px) {
  .seven-block .video {
    height: 500px;
  }
  .eight-block .col-xxl-3:nth-child(2n) .eight-box {
    padding-right: 0;
  }
  .ten-block .ten-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50%;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  .ten-block .ten-box img {
    width: 40%;
    margin-bottom: 30px;
  }
  footer ul {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .seven-block .video {
    height: 420px;
  }
  .ten-block .ten-box img {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .third-block .third-box {
    padding: 80px 0;
  }
  .four-block .four-box {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .four-block .last-four-box {
    padding-bottom: 40px;
  }
  .seven-block .video {
    height: 380px;
  }
  .eight-block .eight-box {
    padding-right: 0;
  }
  .ten-block .ten-box {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .ten-block .ten-box img {
    width: 100%;
  }
  .eleven-block .block-input input {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 15px;
  }
  footer {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  footer * {
    padding-left: 0;
    padding-right: 0;
  }
  footer ul {
    display: inline-block;
  }
  footer ul:first-child {
    margin-top: 30px;
  }
}

@media (max-width: 420px) {
  .seven-block .video {
    height: 320px;
  }
}

@media (max-width: 300px) {
  .seven-block .video {
    height: 240px;
  }
  .ten-block .ten-box {
    width: 75%;
  }
}
