html {
  font-family: sans-serif;
}

.button-podp {
  background-color: #000000;
  padding: 10px 50px;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button-podp:hover {
  color: #fff;
  text-decoration: none;
  background-color: #333333;
}

.nav-bar {
  background-color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 80px;
}

.nav-bar .logo-cont {
  padding: 18px;
}

.nav-bar .logo-title {
  display: inline-block;
  color: #fff;
}

.nav-bar .logo-title:hover {
  color: #fff;
  text-decoration: none;
}

.nav-bar .nav-title {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav-bar .nav-title li {
  display: inline-block;
}

.nav-bar .nav-title li a {
  display: inline-block;
  padding: 18px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-bar .nav-title li a:hover {
  background-color: #333333;
}

main {
  text-align: center;
  text-transform: uppercase;
}

main h1 {
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 20px;
}

main p {
  font-weight: 750;
  font-size: 20px;
  margin-bottom: 30px;
}

main img {
  width: 170px;
}

.second-header .soc-block {
  margin-top: 50px;
  display: block;
  width: 100%;
  background-color: #f9f9f9;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-header .soc-block-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.second-header .soc-block img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.second-header .soc-block .under-block {
  margin: 0 60px;
  text-transform: uppercase;
}

.second-header .soc-block .under-block * {
  font-size: 14px;
  font-weight: 500;
}

.second-header .soc-block .under-block h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

.second-header .soc-block .under-block ul {
  list-style-type: none;
  list-style-image: url(/img/icon.png);
  margin-bottom: 30px;
}

.second-header .soc-block .under-block a {
  font-weight: 700;
}

.three-header a {
  text-decoration: none;
}

.three-header .three-title {
  font-size: 40px;
  font-style: italic;
  position: relative;
  margin-top: 80px;
  z-index: 10;
}

.three-header .three-title::after {
  content: "";
  position: absolute;
  background-color: orange;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 10px;
  border-radius: 4px;
  z-index: -1;
}

.three-header .three-under-title {
  font-weight: 700;
  margin: 40px 0;
}

.three-header img {
  width: 100%;
}

.three-header .button-footer-three {
  text-align: center;
  margin-bottom: 30px;
}

.three-header .button-footer-three a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #ffc107;
  border-radius: 2px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.three-header .button-footer-three a:hover {
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #000000;
}

footer * {
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
}

footer .footer-under {
  padding: 40px 0;
}

footer .footer-title {
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}

footer .footer-title::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 12%;
  bottom: -10px;
  background-color: #fff;
  border: 0.5px solid #fff;
}

footer .footer-title-under ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .footer-title-under ul li {
  line-height: 25px;
}

footer .footer-title-under ul li a:hover {
  color: #fff;
  text-decoration: none;
}

footer .footer-title-under .button-footer {
  display: inline-block;
  text-align: center;
  padding: 8px 32px;
  border: 2px solid #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 10px;
}

footer .footer-title-under .button-footer:hover {
  color: blue;
  border: 2px solid blue;
  text-decoration: none;
}

footer .footer-title-under .footer-last {
  line-height: 25px;
}

footer .footer-title-under a:hover {
  text-decoration: none;
  color: blue;
}

.not-need {
  position: relative;
}

.not-need::before {
  display: none;
}

@media screen and (max-width: 1199px) {
  .nav-bar * {
    font-size: 11px;
  }
}

@media (max-width: 991px) {
  .logo-title {
    font-size: 14px;
    text-align: center;
  }
  .logo-cont {
    text-align: center;
  }
  .nav-title li:last-child {
    margin-right: 10%;
  }
  .soc-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
  }
  .soc-block img {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 10px;
  }
  footer {
    text-align: center;
  }
  footer *::before {
    display: none;
  }
  .footer-title {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .nav-title li:last-child {
    margin-right: 0;
  }
}
