* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  text-align: right;
  background-color: deepskyblue;
  height: 100%;
}

header .burger {
  position: relative;
  font-size: 16px;
  height: 35px;
  border: solid 1px #4de3de;
  cursor: pointer;
}

header .burger::before,
header .burger::after {
  position: absolute;
  content: '';
  width: 22px;
  height: 2px;
  background-color: #fff;
  right: 5px;
  top: 7px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

header .burger:after {
  top: 23px;
}

header .burger span {
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: #fff;
  right: 5px;
  top: 15px;
}

header .burger.active::before,
header .burger.active::after {
  top: 15px;
}

header .burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .burger.active span {
  opacity: 0;
}

header nav ul li {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  border: solid 1px #4de3de;
  cursor: pointer;
}
header nav ul li:last-child{
  padding: 0;
  border: 0;
}
#Back{
  display: block;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 10px;
  border: solid 1px #4de3de;
}
main {
  font-size: 12px;
}

main.hidden {
  display: none;
}

main a {
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  margin-left: 10px;
  text-decoration: none;
  color: #000;
}

main .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .box .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background-color: #82e7f5;
  border: solid 1px #ffffff;
}

main .box .line .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
}

main .box .line .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.distance.hidden {
  display: none;
}

.distance div h3 {
  font-size: 15px;
}

.distance div p {
  font-size: 14px;
}

.distance div label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.distance div label input {
  width: 90px;
}

.distance div label div {
  display: inline-block;
  background-color: deepskyblue;
  padding: 2px;
  color: #fff;
}

.distance div label div:active {
  background-color: royalblue;
}

.img {
  opacity: 0;
  width: 300px;
}

.img:hover {
  opacity: 1;
}

.img img {
  width: 100%;
  height: 100%;
}

.students h1 {
  margin-bottom: 20px;
}

.students .student {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.students .student a {
  display: inline;
  text-decoration: none;
  color: black;
  background-color: #94ddf1;
  padding: 7px;
  margin-bottom: 10px;

}

.students .student .available {
   background-color: deepskyblue;
 }
.downloads{
  margin-top: 50px;
}
.downloads span{
  display: inline-block;
  width: 100vw;
}
.downloads a{
  display: inline-block;
  margin-bottom: 4px;
}
.classWork{
  font-size: 30px;
  font-weight: 700;
}
